<footer>
  <div class="footer__container">
    <div class="container">
      <div class="footer__wrapper">

        <div class="footer__inner">
          <div class="footer__item footer__item-1">
          <h5 class="footer__item-title">О Компании</h5>
          <a class="footer__item-link" href="#">Вакансии в компании</a>
          <a class="footer__item-link" href="{{ contact }}">{{ text_contact }}</a>
        </div>

        <div class="footer__item footer__item-2">
          <h5 class="footer__item-title">Покупателям</h5>
          <a class="footer__item-link" href="#">Доставка и оплата</a>
          <a class="footer__item-link" href="#">Как заказать</a>
          <a class="footer__item-link" href="#">Вопросы и ответы</a>
        </div>
        </div>     

        <div class="footer__item footer__item-3">
          <div class="footer__item-link-box">
            <a class="footer__item-link social-link" href="#"><img src="/image/halkmarket/footer/footer-logo-1.png" alt=""></a>
            <a class="footer__item-link social-link" href="#"><img src="/image/halkmarket/footer/footer-logo-2.png" alt=""></a>
          </div>          
          <p class="footer__item-text service-text">
            Есть вопрос? Напишите нам письмо или воспользуйтесь формой <a class="footer__item-text-link" href="{{ contact }}">обратной связи</a>
          </p>
        </div>
      </div>

    </div>

      <div class="footer__copy">
        <div class="footer__copy-box">
          <p class="footer__copy-text">
            © Copyright 2020. All rights reserved.
          </p>
        </div>
      

  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>

<!-- <script src="catalog/view/javascript/jquery/jquery-3.5.1.min.js"></script>
<script src="catalog/view/javascript/main.js"></script>
<script src="catalog/view/javascript/slick/slick.min.js"></script> -->
<!-- <script>
  $(document).ready(function(){
    $('.catalog-btn').click(function(){
        $('.catalog-btn__list').toggleClass('active')
    })
})
</script> -->

{% endfor %}
</body></html>