<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% else %}
<meta property="og:image" content="{{ logo }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />
<script src="catalog/view/javascript/jquery/jquery-3.5.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!-- <link href="catalog/view/javascript/slick/slick.css" rel="stylesheet"> -->
<link href="catalog/view/theme/default/stylesheet/global.css" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/fonts.css" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/header.css" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/home.css" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/footer.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<nav id="top">
  <div class="header__top">
    <div class="container__page">
      <div class="header__top-tel">
        <a class="header__top-tel__link" href="tel:+99312351212" >{{ telephone }}</a>
      </div>
  </div>
  </div>  
</nav>
<header>
  <div class="header__bottom">
    <div class="container__page">
      <div class="header__bottom-wrapper">

        <div id="logo" class="header__bottom-logo">
          <a href="#">
            {% if logo %}
              {% if home == og_url %}
                <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
              {% else %}
                <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
              {% endif %}
            {% else %}
              <h1><a href="{{ home }}">{{ name }}</a></h1>
            {% endif %}
          </a>            
        </div>

        <div class="header__bottom-catalog">
          <button class="catalog-btn">
            
          </button>
        </div>

        <div class="header__bottom-search">
          {{ search }}
        </div>

        <div class="header__bottom-percent">

        </div>

        <div class="header__bottom-account"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle bottom-account__arrow" data-toggle="dropdown"><span class="account-caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </div>

        

      </div>
    </div>
  </div>


  
  
</header>
{{ menu }}
