{{ header }}
<!-- <div id="common-home" class="container"> -->
  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}
  </div>
<!-- </div> -->

<!-- <section class="slider">
  <div class="container__page">
    <div class="slider__wrapper">

      <div class="slider__item">
        <div class="slider__item-pic" style="background-image: url('/image/halkmarket/slider/slider-1.png');"></div>
      </div>

      <div class="slider__item">
        <div class="slider__item-pic" style="background-image: url('/image/halkmarket/slider/slider-1.png');"></div>
      </div>

      <div class="slider__item">
        <div class="slider__item-pic" style="background-image: url('/image/halkmarket/slider/slider-1.png');"></div>
      </div>

      <div class="slider__item">
        <div class="slider__item-pic" style="background-image: url('/image/halkmarket/slider/slider-1.png');"></div>
      </div>

    </div>
  </div>
</section>
<script src="catalog/view/javascript/jquery/jquery-3.5.1.min.js"></script>
<script src="catalog/view/javascript/main.js"></script>
<script src="catalog/view/javascript/slick/slick.min.js"></script> -->

{{ footer }}