<div id="search" class="input-group input__header-bottom">

  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg header-search-btn"></button>
  </span>
  
  
  <button class="button-close" onclick="document.getElementById('myInput').value = ''"></button>
  
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg header__bottom-search" id="myInput"/>
  

</div>