<div class="swiper__inner">
  <div class="container__page">
    <div class="swiper-viewport">
      <div class="swiper__box">
        <div id="slideshow{{ module }}" class="swiper-container">
          <div class="swiper-wrapper"> {% for banner in banners %}
            <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
            {% endfor %} 
          </div>
        </div>
    </div>    
    <div class="swiper-pagination slideshow{{ module }}"></div>
    <div class="swiper-pager">
      <div class="right__btn slider__btn"></div>
      <div class="left__btn slider__btn"></div>
    </div>
  </div>
  
  </div>
    
</div>

<script type="text/javascript">
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
	nextButton: '.right__btn',
    prevButton: '.left__btn',
    spaceBetween: 30,
	autoplay: 2500,
    autoplayDisableOnInteraction: true,
	loop: true
});
</script>