@font-face {
	font-family: 'CircularStd-Bold';
	src: url('halkmarket/catalog/view/theme/fonts/CircularStd-Bold.eot');
	src: local('☺'), url('halkmarket/catalog/view/theme/fonts/CircularStd-Bold.woff') format('woff'), url('halkmarket/catalog/view/theme/fonts/CircularStd-Bold.woff2') format('woff2'), url('halkmarket/catalog/view/theme/fonts/CircularStd-Bold.ttf') format('truetype'), url('halkmarket/catalog/view/theme/fonts/CircularStd-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'CircularStd-Book';
	src: url('halkmarket/catalog/view/theme/fonts/CircularStd-Book.eot');
	src: local('☺'), url('halkmarket/catalog/view/theme/fonts/CircularStd-Book.woff') format('woff'), url('halkmarket/catalog/view/theme/fonts/CircularStd-Book.woff2') format('woff2'), url('halkmarket/catalog/view/theme/fonts/CircularStd-Book.ttf') format('truetype'), url('halkmarket/catalog/view/theme/fonts/CircularStd-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'GillSans-SemiBold';
	src: url('halkmarket/catalog/view/theme/fonts/GillSans-SemiBold.eot');
	src: local('☺'), url('halkmarket/catalog/view/theme/fonts/GillSans-SemiBold.woff') format('woff'), url('halkmarket/catalog/view/theme/fonts/GillSans-SemiBold.woff2') format('woff2'), url('halkmarket/catalog/view/theme/fonts/GillSans-SemiBold.ttf') format('truetype'), url('halkmarket/catalog/view/theme/fonts/GillSans-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lato-Bold';
	src: url('halkmarket/catalog/view/theme/fonts/Lato-Bold.eot');
	src: local('☺'), url('halkmarket/catalog/view/theme/fonts/Lato-Bold.woff') format('woff'), url('halkmarket/catalog/view/theme/fonts/Lato-Bold.woff2') format('woff2'), url('halkmarket/catalog/view/theme/fonts/Lato-Bold.ttf') format('truetype'), url('halkmarket/catalog/view/theme/fonts/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lato-Medium';
	src: url('halkmarket/catalog/view/theme/fonts/Lato-Medium.eot');
	src: local('☺'), url('halkmarket/catalog/view/theme/fonts/Lato-Medium.woff') format('woff'), url('halkmarket/catalog/view/theme/fonts/Lato-Medium.woff2') format('woff2'), url('halkmarket/catalog/view/theme/fonts/Lato-Medium.ttf') format('truetype'), url('halkmarket/catalog/view/theme/fonts/Lato-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lato-Regular';
	src: url('halkmarket/catalog/view/theme/fonts/Lato-Regular.eot');
	src: local('☺'), url('halkmarket/catalog/view/theme/fonts/Lato-Regular.woff') format('woff'), url('halkmarket/catalog/view/theme/fonts/Lato-Regular.woff2') format('woff2'), url('halkmarket/catalog/view/theme/fonts/Lato-Regular.ttf') format('truetype'), url('halkmarket/catalog/view/theme/fonts/Lato-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lato-Semibold';
	src: url('halkmarket/catalog/view/theme/fonts/Lato-Semibold.eot');
	src: local('☺'), url('halkmarket/catalog/view/theme/fonts/Lato-Semibold.woff') format('woff'), url('halkmarket/catalog/view/theme/fonts/Lato-Semibold.woff2') format('woff2'), url('halkmarket/catalog/view/theme/fonts/Lato-Semibold.ttf') format('truetype'), url('halkmarket/catalog/view/theme/fonts/Lato-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lucida-Grande';
	src: url('halkmarket/catalog/view/theme/fonts/Lucida-Grande.eot');
	src: local('☺'), url('halkmarket/catalog/view/theme/fonts/Lucida-Grande.woff') format('woff'), url('halkmarket/catalog/view/theme/fonts/Lucida-Grande.woff2') format('woff2'), url('halkmarket/catalog/view/theme/fonts/Lucida-Grande.ttf') format('truetype'), url('halkmarket/catalog/view/theme/fonts/Lucida-Grande.svg') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lucida-Grande-Bold';
	src: url('halkmarket/catalog/view/theme/fonts/Lucida-Grande-Bold.eot');
	src: local('☺'), url('halkmarket/catalog/view/theme/fonts/Lucida-Grande-Bold.woff') format('woff'), url('halkmarket/catalog/view/theme/fonts/Lucida-Grande-Bold.woff2') format('woff2'), url('halkmarket/catalog/view/theme/fonts/Lucida-Grande-Bold.ttf') format('truetype'), url('halkmarket/catalog/view/theme/fonts/Lucida-Grande-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('halkmarket/catalog/view/theme/fonts/OpenSans-Bold.eot');
	src: local('☺'), url('halkmarket/catalog/view/theme/fonts/OpenSans-Bold.woff') format('woff'), url('halkmarket/catalog/view/theme/fonts/OpenSans-Bold.woff2') format('woff2'), url('halkmarket/catalog/view/theme/fonts/OpenSans-Bold.ttf') format('truetype'), url('halkmarket/catalog/view/theme/fonts/OpenSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}