html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 *, *::before, *::after {
    box-sizing: inherit;
 }
 
 ul {
    padding: 0;
    margin: 0;
 }
 
 li {
    list-style: none;
 }
 
 a {
    text-decoration: none;
    outline: none;
}
 
 p {
     margin: 0;
 }

 body {
	font-family: 'Lucida-Grande';
	font-weight: 400;
	color: #2e2e2e;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
}
.h4, .h5, .h6, h4, h5, h6{
   margin-top: 0px;
   margin-bottom: 0px;
}

.container__page{
    max-width: 1324px;
    margin: 0 auto;
    padding: 0 10px;
}

.container{
    max-width: 1241px;
    margin: 0 auto;
}