/* .slider{
    padding-top: 32px;
    padding-bottom: 37px;
    box-shadow: 0 1px 11px rgba(59, 36, 90, 0.4);
}

.slider__item{
    display: flex;
    justify-content: center;
}

.slider__item-pic{
    width: 1078px;
    height: 344px;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
} */