/* CSS Document */
.swiper__inner{
	box-shadow: 0 1px 11px rgba(59, 36, 90, 0.4);
	padding-top: 32px;
	padding-bottom: 37px;
}
.swiper-viewport {
	margin: 0 0 60px;
	background: #fff;
	z-index: 1;
	width: 1078px;
	height: 344px;
	position: relative;
	overflow: visible;
	margin: 0 auto;
}
.swiper__box{
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
}
.swiper-slide{
	height: 348px;
	top: 0;
}
/* OpenCart Code */
.swiper-container {
	direction: ltr !important;
}
.swiper-pager {
	width: 100%;
	position: absolute;
	line-height: 45px;
	top: 0;
	cursor: pointer;
}
.right__btn{
	width: 70px;
	height: 344px;
	background-color: #4bdbf2;
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background-image: none;
	position: absolute;
	right: -110px;
	top: 0px;
	z-index: 10;
}

.left__btn{
	width: 70px;
	height: 344px;
	background-color: #4bdbf2;
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	background-image: none;
	position: absolute;
	left: -110px;
	top: 0px;
	z-index: 10;
}

.slider__btn::before{
	content: '';
	position: absolute;
	width: 70px;
	height: 86px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	top: 50%;
	transform: translateY(-50%);
}
.slider__btn::after{
	content: '';
	position: absolute;
	width: 17px;
	height: 28px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	/* top: 50%;
	transform: translateY(-50%); */
}
.left__btn::after{
	background-image: url('/image/halkmarket/slider/slider-prev-arrow.svg');
	left: 23px;
	top: 159px;
}
.right__btn::after{
	background-image: url('/image/halkmarket/slider/slider-next-arrow.svg');
	transform: rotate(180deg);
	left: 27px;
	top: 159px;
}


/* .swiper-button-prev, .swiper-button-next {
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	transition: all .3s ease;
	z-index: 2;
 	background-image: none;
}
.swiper-viewport .swiper-button-prev {
	opacity: 0.7;
	left: 10px;
}
.swiper-viewport .swiper-button-next {
	opacity: 0.7;
	right: 10px;	
} */
/* Desktop */
@media (min-width: 768px){
.swiper-viewport .swiper-button-prev {
	opacity: 0;
	left: -20px;
}
.swiper-viewport .swiper-button-next {
	opacity: 0;
	right: -20px;
}
.swiper-viewport:hover .swiper-button-prev {
	opacity: 0.7;
	left: 10px;

}
.swiper-viewport:hover .swiper-button-next {
	opacity: 0.7;
	right: 10px;
}
}
/* .swiper-button-prev:before {
	width: 40px;
    height: 40px;
	font-family: FontAwesome;
	content: "\f053"; 
	color: rgba(0,0,0,0.8);
	font-size: 40px;
}
.swiper-button-next:before {
	width: 40px;
    height: 40px;
	font-family: FontAwesome;
	content: "\f054"; 
	color: rgba(0,0,0,0.8);
	font-size: 40px;
} */
.swiper-pagination {
	bottom: -40px;
	left: 0;
	text-align: center;
	width: 100%;
	display: none;
}
.swiper-pagination-bullet {
	width: 11px;
	height: 11px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	margin: 0 5px;
	opacity: 1;
}
.swiper-pagination-bullet:hover {
	background: rgba(0, 0, 0, 0.7);
}
.swiper-pagination-bullet-active {
	background: rgba(0, 0, 0, 0.9);
}
/* .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
} */